# Runs tests
name: Java Tests

on:
  pull_request:
    branches:
      - '*'

concurrency:
  group: test-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Apply patch to buildscript.properties
        run: sed -i 's/debug_all = false/debug_all = true/g' buildscript.properties

      - name: Setup Build
        uses: ./.github/actions/build_setup

      - name: Run Tests with Gradle
        run: ./gradlew --info --scan --stacktrace test
